.error{
    /* every class name in css starts with dot (".") */
    color: yellowgreen;
    /* you can see on web page that only p tag with class name error is green, rest is normal. */

}

h4.error{
    /* If we use tag name with class name than in this case only that class will get modified which uses that tag. */
    color: blueviolet;
}

.error.feedback{
    color: burlywood;
    /* in this case both classes are working on same tag. and similarly we can use multiple class on same tag
    all we need is just write each tags in css after dot */
}

#content{
    /* # represent that this class is actually an id */
    color: blue;
}

div p{
    /* this is example of decendent selectors, in this we first write parent tag name, then child name */
    color: aqua;
}